:root {
    --notification-height: 100px;
    --notification-margin: 5px;
    --notification-width: 200px;
}

body {
    background-image: url("/images/bg_wood_img.jpg");
}

b,
h1,
h2,
h3 {
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    text-align: center;
}

a {
    text-decoration: none;
}

b {
    font-size: 14px;
}

img {
    width: 18px;
    height: 18px;
}

.close {
    padding: 6px;
}

.a-icon {
    margin-left: 3px;
}

input:invalid {
    color: red;
    font-weight: bold;
}

.color_span_menu {
    color: #880808;
    background: #fafad2;
    font-weight: bold;
    padding: 1px;
    border-radius: 8px;
}

.imgInConteiner {
    padding: 3px;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #3274d6;
    padding: 1px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.header_login {
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 0px 0px;
    width: 600px;
    height: 3%;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5%;
}

.menu {
    background-color: #3274d6;
    padding: 1px;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
}

.a-menu {
    background: #3274d6;
    margin-left: calc((100% - 44em)/24);
    color: #fafad2;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.a-menu-active {
    background: #3274d6;
    margin-left: calc((100% - 44em)/24);
    color: yellow;
    font-size: 20px;
    text-align: center;
}

.a-menu-alerts {
    background: #fafad2;
    margin-left: calc((100% - 44em)/24);
    border-radius: 8px;
    color: #880808;
    font-size: 20px;
    text-align: center;
}

.a-menu-alerts-active {
    background: yellow;
    margin-left: calc((100% - 44em)/11);
    border-radius: 8px;
    color: #880808;
    font-size: 20px;
    text-align: center;
}

.page_404 {
    text-align: center;
    color: #880808;
    font-size: 68px;
    width: 80%;
    margin-left: 10%;
    margin-top: 9%;
}

.denied {
    text-align: center;
    color: #ef0808;
    font-size: 72px;
    width: 100%;
    margin-top: 20%;
}

.login {
    background-color: #3274d6;
    padding: 3px;
    border-radius: 0px 0px 20px 20px;
    width: 600px;
    height: 3%;
    margin-left: calc((100% - 500px)/2);
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 52px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 24px;
    color: yellow;
}

.login form input[type="password"],
.login form input[type="text"] {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.users {
    background-color: #fafad2;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
}

.users td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.users th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.users .users-th {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 14px;
}

.users .users-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    text-align: center;
}

.users .users-td1 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.users .users-td2 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.users_modal {
    display: none;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 550px;
    height: 57%;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5px;
}

.users_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.users_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.users_modal form input[type="password"],
.users_modal form input[type="text"],
.users_modal form select {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.users_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.groups {
    background-color: #fafad2;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
}

.groups td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.groups th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.groups .groups-th {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 14px;
}

.groups .groups-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    text-align: center;
}

.groups .groups-td1 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.groups .groups-td2 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.groups_modal {
    display: none;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 470px;
    height: 34%;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5px;
}

.groups_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.groups_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.groups_modal form input[type="password"],
.groups_modal form input[type="text"] {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.groups_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.marks {
    background-color: #fafad2;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
}

.marks td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.marks th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.marks .marks-th {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 14px;
}

.marks .marks-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    text-align: center;
}

.marks .marks-td1 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.marks .marks-td2 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.marks_modal {
    display: none;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 470px;
    height: 34%;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5px;
}

.marks_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.marks_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.marks_modal form input[type="password"],
.marks_modal form input[type="text"] {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.marks_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.models {
    background-color: #fafad2;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
}

.models td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.models th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.models .models-th {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 14px;
}

.models .models-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    text-align: center;
}

.models .models-td1 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.models .models-td2 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.models_modal {
    display: none;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 470px;
    height: 42%;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5px;
}

.models_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.models_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.models_modal form input[type="password"],
.models_modal form input[type="text"],
.models_modal form select {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.models_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.statuses {
    background-color: #fafad2;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
}

.statuses td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.statuses th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.statuses .statuses-th {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 14px;
}

.statuses .statuses-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    text-align: center;
}

.statuses .statuses-td1 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.statuses .statuses-td2 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.statuses_modal {
    display: none;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 470px;
    height: 34%;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5px;
}

.statuses_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.statuses_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.statuses_modal form input[type="password"],
.statuses_modal form input[type="text"] {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.statuses_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.cars {
    background-color: #fafad2;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
}

.cars td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.cars th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.cars .cars-th {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 14px;
}

.cars .cars-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    text-align: center;
}

.cars .cars-td1 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.cars .cars-td2 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.cars_modal {
    display: none;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 600px;
    height: 65%;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5px;
}

.cars_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.cars_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.cars_modal form input[type="password"],
.cars_modal form input[type="text"],
.cars_modal form select {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.cars_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.userProfile_modal {
    display: block;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 550px;
    height: 57%;
    margin-left: calc((100% - 500px)/2);
    margin-top: 10;
}

.userProfile_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.userProfile_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.userProfile_modal form input[type="password"],
.userProfile_modal form input[type="text"],
.userProfile_modal form select {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.userProfile_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.accesses {
    display: flex;
    width: 100%;
    margin-top: 5px;
    height: 100%;
}

.accesses button {
    width: 100%;
    font-size: 14px;
    text-align: left;
}

.accesses-block {
    background: #fafad2;
    width: 20%;
    height: 80%;
    padding: 10px;
    border: 2px solid #888;
}

.accesses-block img {
    width: 100%;
    height: 100%;
}

.accesses-block>div {
    height: 48%;
    color: #880808;
    font-family: Verdana, Geneva, sans-serif;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid #888;
}

.accesses-block th {
    color: #880808;
    font-family: Verdana, Geneva, sans-serif;
    padding: 3px;
    margin-top: 3px;
    border: 1px solid #888;
}

.accesses-block td {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    padding: 3px;
    margin-top: 3px;
    border: 1px solid #888;
}

.accesses-block table {
    width: 100%;
}

.accesses-block-left {
    background: #fafad2;
    width: 20%;
    height: 97%;
    padding: 10px;
    border: 2px solid #888;
}

.accesses-block-left img {
    width: 100%;
    height: 100%;
}

.accesses-block-left .div-top {
    height: 80%;
    color: #880808;
    font-family: Verdana, Geneva, sans-serif;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid #888;
}

.accesses-block-left .div-bottom {
    height: 16%;
    color: #880808;
    font-family: Verdana, Geneva, sans-serif;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid #888;
}

.accesses-block-left th {
    color: #880808;
    font-family: Verdana, Geneva, sans-serif;
    padding: 3px;
    margin-top: 3px;
    border: 1px solid #888;
}

.accesses-block-left td {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    padding: 3px;
    margin-top: 3px;
    border: 1px solid #888;
}

.accesses-block-left table {
    width: 100%;
}

.accesses-block-header {
    background: #fafad2;
    color: #880808;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    width: 98%;
    height: 2%;
    padding: 10px;
    border: 2px solid #888;
}

.accesses-block-body {
    background: #fafad2;
    width: 98%;
    height: 50%;
    padding: 10px;
    border: 2px solid #888;
}

.accesses-body {
    width: 78%;
    height: 97%;
    padding: 10px;
}

.button-submit {
    font-family: Verdana, Geneva, sans-serif;
    color: #fafad2;
    text-decoration: none;
    text-align: center !important;
    padding: 3px;
    border-radius: 3px;
    background: #208620;
}

.button-button {
    font-family: Verdana, Geneva, sans-serif;
    color: #fafad2;
    text-decoration: none;
    text-align: center !important;
    padding: 3px;
    border-radius: 3px;
    background: #3274d6;
}

.alerts {
    background-color: #fafad2;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
}

.alerts td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.alerts th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.alerts .alerts-th {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 14px;
}

.alerts .alerts-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    text-align: center;
}

.alerts .alerts-td1 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.alerts .alerts-td2 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.notification_wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 20px;
}

.notification_drawer {
    margin: auto;
    max-height: calc(5 * var(--notification-height) + 4 * var(--notification-margin));
    overflow-y: auto;
    width: calc(var(--notification-width) + 20px);
}

.notification {
    height: var(--notification-height);
    max-height: var(--notification-height);
    overflow: hidden;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
    width: var(--notification-width);
    background: azure;
    justify-content: space-between;
}

.notification+.notification {
    margin-top: var(--notification-margin);
}

.notification_title {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    background: #62dacf;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.notification_body {
    padding: 5px;
}

.notification_button {
    background-color: #208620;
    color: #fafad2;
}

.notification_close {
    cursor: pointer;
}

.notification_hint {
    position: absolute;
    margin-top: 40px;
    background-color: lightgoldenrodyellow;
    border: solid black 1px;
    visibility: hidden;
}

.notification_title:hover .notification_hint {
    visibility: visible;
}

.message_modal {
    position: absolute;
    border-radius: 5px;
    background-color: #3274d6;
    z-index: 1;
    width: 50%;
    top: 25%;
    left: 25%;
    visibility: visible;
}

.validate_massage .child {
    margin: auto;
    width: calc(var(--notification-width) + 300px);
}

.validate_close {
    left: 2%;
    cursor: pointer;
}